@import '../scss-mixins/index.scss';

.arrow-conta {
    width: 60px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -20px;
    .arrow {
        cursor: pointer;
    }

    .arrow-up {
        @include arrow-up(#333, 12px);
    }

    .arrow-down {
        @include arrow-down(#333, 12px);
    }
}

.box-container {
    padding: 0 40px 0 40px;
    .header {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 40px;
        border-bottom: #ddd 1px solid;
    }
}
