@import '../scss-mixins/index.scss';

.mask {
    @include mask(rgba(0, 0, 0, 0.5), 0);
}
.menu {
    position: relative;
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 0 40px;
    background-color: white;
    min-height: 40px;
    border-radius: 4px;
    justify-content: space-between;
    .dropdown-container {
        background-color: white;
        width: 100%;
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: calc(100vh - 70px);
        overflow-y: auto;
        .item {
            min-height: 40px;
            width: 50%;
            display: flex;
            align-items: center;
            padding-left: 12px;
            box-sizing: border-box;
            border-bottom: #ddd solid 1px;
            border-radius: 4px;
            &:nth-of-type(odd) {
                position: relative;
                &:after {
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 4px;
                    bottom: 4px;
                    width: 1px;
                    background-color: #ddd;
                }
            }
        }
    }
}
