@import './scss-mixins/index.scss';

body {
    background-color: #ccc;
}


.content {
    width: 20%;
    position: relative;
}
.input {
    outline: none;
    height: 50px;
    width: 100%;
    padding: 6px 12px;
}

.placeholder {
    height: 50px;
    width: 100%;
    position: absolute;
    padding: 6px 12px;
    top: 0px;
    left: 0px;
    border: transparent 2px solid;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 15px;
    color: #333;
    font-size: 15px;
}

